@import rlp.models.User
@(title: String, user: Option[User], data: Form[_])(content: Html)

@main(title, user) {
    <script type="text/javascript">
        function get(id) { return document.getElementById(id); }

        function label(id) { return document.querySelector("label[for='"+id+"']"); }

        function validateElement(elemId, validation) {
            var elem = get(elemId);
            var error = validation(elem.value);

            elem.setCustomValidity(error);
            label(elemId).setAttribute("data-error", error);
        }

        function passwordValidation(p) {
            if (p.length < 8) return "Password needs a minimum of 8 characters!";
            return "";
        }

        var validateForm = function () { };

        $(document).ready(function () {
            @for(err <- data.errors) {
                @if(data.error(err.key).isDefined) {
                    label("@err.key").setAttribute("data-error", "@err.messages.mkString(",")");
                    get("@err.key").setCustomValidity("Invalid");
                    get("@err.key").focus();
                    get("@err.key").blur();
                }
            }

            $("form :input").change(validateForm);
        });
    </script>

    <div class="form-container page-container">
        <div class="card">
            <h4 class="card-title center-align">@title</h4>

            @content
        </div>
    </div>
} { }
