@form("Login") {

    <h4 class="card-title center-align">Login</h4>

    <form>
        <div class="row">
            <div class="input-field col s8 offset-s2">
                <input id="email" type="email" class="validate" />
                <label for="email">Email Address</label>
            </div>

            <div class="input-field col s8 offset-s2">
                <input id="password" type="password" class="validate" />
                <label for="password">Password</label>
            </div>
        </div>

        <div class="center-align">
            <button class="btn waves-effect waves-light red" type="submit" name="action">Login</button>
        </div>
    </form>
}