@@(title: String, user: Option[User])(content: Html)(scripts: Html)

<html>
    <head>
        <title>RL-Playground - @title</title>

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")" />
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" media="screen,projection"/>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </head>

    <body>

        <div id="content-wrapper" class="grey lighten-5">
            <div id="header" class="navbar-fixed">
                <nav class="teal darken-2">
                    <div class="nav-wrapper page-container">
                        <a href="index.html" class="white-text brand-logo">RL-Playground</a>
                        <ul class="right">
                            <li><a href="/index">Home</a></li>
                            <li><a href="#">Leaderboard</a></li>
                            @{
                                user match {

                                    case Some(User(_, username, _)) =>
                                        <li><a href="/profile"><strong>{Html(username)}</strong></a></li>
                                        <li><a href="/logout">Log Out</a></li>

                                    case None =>
                                        <li><a href="/login" class="btn waves-effect waves-light red">Login</a></li>
                                        <li><a href="/signup" class="btn waves-effect waves-light blue">Sign Up</a></li>
                                }
                            }
                        </ul>
                    </div>
                </nav>
            </div>

            @content
        </div>

        <footer class="page-footer deep-orange lighten-2">
            <div class="page-container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">RL-Playground</h5>
                        <p class="grey-text text-lighten-4">
                            A reinforcement learning playground made for my A-level computing coursework.
                            Made using Scala.JS and Binding.scala.
                        </p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#">Home</a></li>
                            <li><a class="grey-text text-lighten-3" href="#">Leaderboard</a></li>
                            <li>
                                <iframe src="https://ghbtns.com/github-btn.html?user=basimkhajwal&repo=RL-Playground&type=star&count=true"
                                frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="page-container">© 2017 Basim Khajwal</div>
            </div>
        </footer>

        @scripts
    </body>

</html>
