@import rlp.forms.SignUpForm
@(data: Form[SignUpForm])

@form("Sign Up", data) {
    <script>
        validateForm = function () {
            validateElement("password", passwordValidation);

            validateElement("password-repeat", function (p) {
                if (p !== get("password").value) return "Passwords don't match!";
                return "";
            });

            validateElement("email-repeat", function (e) {
                if (e !== get("email").value) return "Emails don't match!";
                return "";
            });
        };
    </script>

    <form method="post" action="">
        <div class="row">

            <div class="input-field col s8 offset-s2">
                <input id="username" type="text" class="validate" name="username"
                    value="@data("username").value.getOrElse("")" required="true"/>
                <label for="username">Username</label>
            </div>

            <div class="input-field col s8 offset-s2">
                <input id="email" type="email" class="validate"
                    name="email" value="@data("email").value.getOrElse("")" required="true"/>
                <label for="email">Email Address</label>
            </div>

            <div class="input-field col s8 offset-s2">
                <input id="email-repeat" type="email" class="validate"/>
                <label for="email-repeat">Repeat Email Address</label>
            </div>

            <div class="input-field col s8 offset-s2">
                <input id="password" type="password" name="password" class="validate"
                    value="@data("password").value.getOrElse("")"/>
                <label for="password">Password</label>
            </div>

            <div class="input-field col s8 offset-s2">
                <input id="password-repeat" type="password" class="validate" />
                <label for="password-repeat">Repeat Password</label>
            </div>
        </div>

        <div class="center-align">
            <button class="btn waves-effect waves-light red" type="submit" name="action">Create Account</button>
        </div>
    </form>
}