.page-container {
    margin: 0 auto;
    max-width: 90%;
}

#buttons-container {
    text-align: center;
    margin-top: 20px;
}

#buttons-container > div {
    display: block;
    margin: 0 auto;
}

#canvas-container canvas {
    display: block;
    margin: 0 auto;
}

#control-section {
    padding: 30px;
}

#q-checkbox-container {
    padding: 20px 10%;
    display: flex;
    justify-content: space-evenly;
}

.q-table-checkbox {
    display: inline-block;
    margin: 0 auto;
}

#game-row {
    display: flex;
    align-items: stretch;
}

#model-select {
    min-height: 400px;
}

#model-select > .card-content{
    padding: 0;
}

#model-training {
    padding: 24px;
    display: flex;
    align-items: stretch;
}

#model-training-btns {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media (min-width: 1300px) {

    .page-container {
        max-width: 1200px;
    }
}


